<?xml version="1.0" encoding="UTF-8"?>
<!--
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
	<title>Articles</title>
	</head>
<body>
	<table width="100%">
		<tr>
		<td>
			<ul>
			<li><a href="#" wicket:id="linkToBooks">Books</a></li>
			<li><a href="#" wicket:id="linkToPromotions">Promotions</a></li>
			<li><a href="#" wicket:id="linkToArticles">Articles</a></li>
			</ul>
		</td>
		<td>
-->		
		<wicket:extend>
			<!-- Page content starts here -->
			Check out the following interesting articles on Wicket <br/>
			<li wicket:id="articles">
			<a href="" wicket:id="webPageLink"/><span wicket:id="display">
			Javalobby Wicket Article</span>
			</li>
		</wicket:extend>			
			<!-- Page content ends here -->
<!--			
		</td>
		</tr>
	</table>
</body>
</html>
-->