<?xml version="1.0" encoding="UTF-8"?>
<!--
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
	<title>Book Promotions</title>
	</head>
<body>
	<table width="100%">
		<tr>
		<td>
			<ul>
			<li><a href="#" wicket:id="linkToBooks">Books</a></li>
			<li><a href="#" wicket:id="linkToPromotions">Promotions</a></li>
			<li><a href="#" wicket:id="linkToArticles">Articles</a></li>
			</ul>
		</td>
		<td>
-->		
		<!-- Page content starts here -->
		<wicket:extend>
			Don't miss the super deals on the books in the J2EE category
		</wicket:extend>			
		<!-- Page content ends here -->
<!--			
		</td>
		</tr>
	</table>
</body>
</html>
-->
