<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<title wicket:id="pageTitle">No Title</title>
	<style>
	.borderedBlock {
		background: #DEDEDE;
		color: gray;
		font-weight: bold;
		border: solid #E9601A;
		border-width: thin;
		padding: 2px 2px 2px 6px;
		margin: 2px;
	}
	</style>
</head>
<body>
	<table width="100%">
		<tr>
			<td class="borderedBlock">
				<table>
					<tr>
						<wicket:link>
							<td>
								<li><a href="ViewBooks.html">Books</a></li>
							</td>
							<td>
								<li><a href="BookPromotions.html">Promotions</a></li>
							</td>
							<td>
								<li><a href="Articles.html">Articles</a></li>
							</td>
						</wicket:link>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" colspan="3" class="borderedBlock">
				<wicket:child/>
			</td>
		</tr>
	</table>
	<a href="index.html">Back to Index</a>
</body>
</html>
<!--

<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<title wicket:id="pageTitle">No Title</title>
	<link rel="stylesheet" type="text/css" href="style/style.css"/>
</head>
<body>
	<table width="100%">
	<tr>
	<td class="borderedBlock">
		<table>
			<tr>
				<td><ul><a href="#" wicket:id="linkToBooks">Books</a></ul></td>
				<td><ul><a href="#"
				wicket:id="linkToPromotions">Promotions</a></ul></td>
				<td><ul><a href="#" wicket:id="linkToArticles">Articles</a></ul></td>
			</tr>
		</table>
	</td>
	</tr>
	<tr>
		<td valign="top" colspan="3" class="borderedBlock">
			<wicket:child/>
		</td>
	</tr>
	</table>
	<a href="index.html">Back to Index</a>
</body>
</html>

-->

<!--

<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<title wicket:id="pageTitle">No Title</title>
	<style>
		tr.even{
		background-color: #ffebcd;
		}
		tr.odd{
		background-color: #ffa;
		}
	</style>	
</head>
<body>
	<table width="100%">
		<tr height="100%">
		<td valign="top" height="100px">
			<span wicket:id="pageLinksBorder">
				<ul>
					<li><a href="#" wicket:id="linkToBooks">Books</a></li>
					<li><a href="#" wicket:id="linkToPromotions">Promotions</a></li>
					<li><a href="#" wicket:id="linkToArticles">Articles</a></li>
				</ul>
			</span>
		</td>
		<td valign="top" height="100px">

			<span wicket:id = "pageBorder">
				<wicket:child/>
			</span>
			
		</td>
		</tr>
	</table>
</body>
<a href="index.html">Back to Index</a>
</html>

-->

<!--

<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title wicket:id="pageTitle">No Title</title>
<style>
tr.even{
background-color: #ffebcd;
}
tr.odd{
background-color: #ffa;
}
</style>
</head>
<body>
	<table width="100%">
		<tr>
		<td>
			<ul>
				<li><a href="#" wicket:id="linkToBooks">Books</a></li>
				<li><a href="#" wicket:id="linkToPromotions">Promotions</a></li>
				<li><a href="#" wicket:id="linkToArticles">Articles</a></li>
			</ul>
		</td>
		<td>
			<wicket:child/>
		</td>
		</tr>
	</table>
</body>
</html>

-->