<html>
<head><title>Employee Search</title></head>
<body>
	<!-- A span to accommodate the Border -->
	<span wicket:id="search">
		<input type="text"/><input type="submit" value="Search"/>
	</span>
	<!-- A span to accommodate the Border -->
	<span wicket:id="searchResults">
		<table border="1">
		<tr>
			<th>Employee</th>
			<th>Department</th>
		</tr>
		<tr><td>Tom</td><td>Finance</td></tr>
		<tr><td>Chris</td><td>IT</td></tr>
		<tr><td>John</td><td>Marketing</td></tr>
		</table>
	</span>
	<a href="index.html">Back to Index</a>
</body>
</html>